@mixin dropdown-icon($path) {
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: (6rem/16);
  height: (4rem/16);
  background-image: url($path);
}

.dropdown {
  display: flex;
  height: (24rem/16);

  &.disabled {
    opacity: 0.5;
  }

  .dropdown-label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0
  }

  .dropdown-field {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: (22rem/16);
    border: 1px solid #848484;
    position: relative;
    height: 100%;
    cursor: pointer;
    background-color: #ffffff;

    .dropdown-icon-container {
      display: flex;
      justify-content:center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: (22rem/16);
      height: 100%;

      .dropdown-open-icon {
        @include dropdown-icon('./imgs/list_sort_down.png')
      }

      .dropdown-close-icon {
        @include dropdown-icon('./imgs/list_sort_up.png')
      }
    }
  }

  .dropdown-menu {
    overflow: hidden;
    position: fixed;
    border: 1px solid #848484;
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;

    .dropdown-item {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      align-items: center;
      width: 100%;
      height: (22rem/16);
      cursor: pointer;

      &:hover {
        background-color: #defefd
      }

      &.disabled {
        cursor: default;
        opacity: 0.5;
        background-color: transparent;
      }
    }
  }
}
