@mixin menu-item() {
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
  height: 28px;
  padding: 0 22px;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #b0b0b0;
  min-width: 160px;
  max-width: 300px;
  z-index: 1;
  padding: 16px 0;

  span {
    font-size: 13px;
  }

  .menu-item-default {
    @include menu-item();

    &:hover {
      background-color: #defefd;
    }
  }

  .menu-item-sub-menu {
    @include menu-item();
    padding-right: 10px;

    .menu-item-sub-menu-content {
      flex-grow: 1;

      &:hover {
        font-weight: medium;
      }
    }
  }

  .menu-item-divider {
    @include menu-item();
    height: 17px;
    padding: 0;

    .menu-item-divider-item {
      width: 80%;
      border-top: 1px solid #cecece;
    }
  }

  .menu-item-title {
    @include menu-item();

    .menu-item-title-content {
      flex-grow: 1;
      color: #969696;
    }
  }
}

@mixin menu-icon($path) {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url($path);
}

.menu-icon-next {
  @include menu-icon('./imgs/framset_next.svg')
  margin-left: 14px;
}
