.scrollbar {
  width: 100%;
  height: 100%;
  max-height: inherit;
  outline: none;
  display: flex;
  position: relative; }
  .scrollbar .scrollbar-content {
    max-height: inherit;
    overflow: hidden;
    flex-grow: 1; }
  .scrollbar .scrollbar-bar {
    display: none;
    flex-direction: column;
    width: 0.75rem;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .scrollbar .scrollbar-bar .scrollbar-bar-body {
      flex-grow: 1;
      position: relative; }
      .scrollbar .scrollbar-bar .scrollbar-bar-body .scrollbar-bar-body-track {
        position: absolute;
        background-color: #c0c0c0;
        width: 100%;
        border: 0.0625rem solid #c0c0c0; }
        .scrollbar .scrollbar-bar .scrollbar-bar-body .scrollbar-bar-body-track:hover {
          background-color: #9b9b9b;
          border: 0.0625rem solid #898989; }
    .scrollbar .scrollbar-bar .scrollbar-bar-up {
      width: 0.75rem;
      height: 0.75rem;
      display: inline-block;
      cursor: pointer;
      background-image: url("./imgs/w_up_normal.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-up:hover {
        background-image: url("./imgs/w_up_over.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-up:active {
        background-image: url("./imgs/w_up_press.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-up.disable {
        cursor: initial;
        background-image: url("./imgs/w_up_disable.png"); }
    .scrollbar .scrollbar-bar .scrollbar-bar-down {
      width: 0.75rem;
      height: 0.75rem;
      display: inline-block;
      cursor: pointer;
      background-image: url("./imgs/w_down_normal.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-down:hover {
        background-image: url("./imgs/w_down_over.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-down:active {
        background-image: url("./imgs/w_down_press.png"); }
      .scrollbar .scrollbar-bar .scrollbar-bar-down.disable {
        cursor: initial;
        background-image: url("./imgs/w_down_disable.png"); }
