@mixin bar-icon($normal, $hover, $disable, $active) {
  width: (12rem/16);
  height: (12rem/16);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url($normal);

  &:hover {
    background-image: url($hover);
  }

  &:active {
    background-image: url($active);
  }

  &.disable {
    cursor: initial;
    background-image: url($disable);
  }
}

.scrollbar {
  width: 100%;
  height: 100%;
  max-height: inherit;
  outline: none;
  display: flex;
  position: relative;

  .scrollbar-content {
    max-height: inherit;
    overflow: hidden;
    flex-grow:1;
  }

  .scrollbar-bar {
    display: none;
    flex-direction: column;
    width: (12rem/16);
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    .scrollbar-bar-body {
      flex-grow:1;
      position: relative;

      .scrollbar-bar-body-track {
        position: absolute;
        background-color: #c0c0c0;
        width: 100%;
        border: (1rem/16) solid #c0c0c0;

        &:hover {
          background-color: #9b9b9b;
          border: (1rem/16) solid #898989;
        }
      }
    }

    .scrollbar-bar-up {
      @include bar-icon('./imgs/w_up_normal.png', './imgs/w_up_over.png', './imgs/w_up_disable.png', './imgs/w_up_press.png');
    }

    .scrollbar-bar-down {
      @include bar-icon('./imgs/w_down_normal.png', './imgs/w_down_over.png', './imgs/w_down_disable.png', './imgs/w_down_press.png');
    }
  }
}
