@mixin function-info-icon($path) {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url($path);
  flex-shrink: 0;
}

.function-info {
  position: relative;
  display: flex;
  align-items: center;

  .function-info-box {
    position: fixed;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    padding: 16px 12px;
    background-color: #ffffff;
    border: 1px solid #767676;
    z-index: 1;


    .function-info-text {
      color: #2f2f2f;
      font-size: 12px;
    }
  }
}

.function-info-icon {
  @include function-info-icon('./imgs/function_info.svg')
  margin-left: 10px;
  cursor: pointer;
}

.function-info-window-close-icon { 
  @include function-info-icon('./imgs/delete.svg');
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 4px;
  width: 9px;
  height: 9px;
}
