.example-table {
  border: 1px solid black;

  div[class$="row"] {
    border-bottom: 1px solid black;
  }

  div[class$="col"] {
    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }
}
