@mixin dialog-icon($path) {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url($path);
  flex-shrink: 0;
}

.dialog {
  height: 100%;
  border: 1px solid #b0b0b0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;

  .dialog-header {
    height: 24px;
    cursor: move;
    display: flex;
    padding: 0 8px;
    padding-top: 8px;
    justify-content: flex-end;

    .dialog-tool-icon-group {
      display: flex;
      width: 10px;

      span {
        cursor: pointer;
      }
    }
  }

  .dialog-body {
    display: flex;
    padding: 0 24px;
    flex-grow: 1;

    .dialog-icon-container {
      display: flex;
    }

    .dialog-content {
      padding: 0 16px;
      padding-top: 8px;
      min-height: 34px;
      flex-grow: 1;
      flex-shrink: 1;

      span {
        font-size: 14px;
        color: #2f2f2f;
      }
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    height: 74px;
    padding: 0 24px;
    padding-bottom: 24px;

    .button-group {
      align-self: flex-end;
      width: 168px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.dialog-icon-info {
  @include dialog-icon('./imgs/info.svg');
}

.dialog-icon-help {
  @include dialog-icon('./imgs/help.svg');
}

.dialog-icon-warngin {
  @include dialog-icon('./imgs/warning.svg');
}

.dialog-icon-error {
  @include dialog-icon('./imgs/error.svg');
}

.dialog-icon-close {
  @include dialog-icon('./imgs/delete.svg');
  width: 10px;
  height: 10px;
}
