.page-control {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 0 10px;
  border: 1px solid black;
  border-top: 0;
  background-color: #ffffff;

  span {
    font-size: 12px;
  }

  .page-control-input {
    display: flex;
    align-items: center;
    .input-label {
      display: flex;
      height: 16px;
    }

    .input-field {
      margin-left: 4px;
      height: 16px;
      width: 48px;
      text-align: right;
      color: #0278d1;
      font-size: 12px;

      input {
        padding: 0 10px;
        width: 100%;
        text-align: right;
      }
    }
  }

  .page-control-dropdown {
    height: 16px;
    .dropdown-field {
      border: 0;
    }
  }

  .page-control-divider {
    height: 16px;
    margin: 0 10px;
    border-left: 1px solid #c8c8c8;
  }

  .page-control-left {
    display: flex;
    align-items: center;
  }

  .page-control-right {
    display: flex;
    align-items: center;
  }
}

@mixin page-control-icon($normal, $disable, $active) {
  width: 16px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url($normal);

  &:active {
    background-image: url($active);
  }

  &.disable {
    cursor: initial;
    background-image: url($disable);
  }
}

.page-control-icon-down {
  @include page-control-icon('./imgs/down.png', './imgs/down_active.png', './imgs/down_active.png')
}

.page-control-icon-more-left {
  @include page-control-icon('./imgs/more_left.png', './imgs/more_left_disable.png', './imgs/more_left_active.png')
}

.page-control-icon-more-right {
  @include page-control-icon('./imgs/more_right.png', './imgs/more_right_disable.png', './imgs/more_right_active.png')

  margin-left: 6px;
}

.page-control-icon-left {
  @include page-control-icon('./imgs/play_left.png', './imgs/play_left_disable.png', './imgs/play_left_active.png')

  margin-left: 6px;
}

.page-control-icon-right {
  @include page-control-icon('./imgs/play_right.png', './imgs/play_right_disable.png', './imgs/play_right_active.png')
}

.page-control-icon-refresh {
  @include page-control-icon('./imgs/refresh.png', './imgs/refresh_disable.png', './imgs/refresh_active.png')
}
