@mixin window-container-resizer-n() {
  position: absolute;
  width: 100%;
  height: (5rem/16);
  cursor: n-resize;
}

@mixin window-container-resizer-e() {
  position: absolute;
  height: 100%;
  width: (5rem/16);
  cursor: e-resize;
}

@mixin window-container-resizer-ne() {
  position: absolute;
  height: (5rem/16);
  width: (5rem/16);
  cursor: ne-resize;
}

@mixin window-container-resizer-se() {
  position: absolute;
  height: (5rem/16);
  width: (5rem/16);
  cursor: se-resize;
}

.window-container {
  .window-container-resizer-top {
    @include window-container-resizer-n();
  }
  .window-container-resizer-bottom {
    @include window-container-resizer-n();
    bottom: 0;
  }
  .window-container-resizer-left {
    @include window-container-resizer-e();
  }
  .window-container-resizer-right {
    @include window-container-resizer-e();
    right: 0;
  }
  .window-container-resizer-top-right {
    @include window-container-resizer-ne();
    right: 0;
  }
  .window-container-resizer-bottom-right {
    @include window-container-resizer-se();
    right: 0;
    bottom: 0;
  }
  .window-container-resizer-bottom-left {
    @include window-container-resizer-ne();
    bottom: 0;
  }
  .window-container-resizer-top-left {
    @include window-container-resizer-se();
  }

  &.minimized {
    position: fixed;
    width: 300px;
    height: 50px;
    bottom: 0;
    right: 0;
  }
}
