.table {
  position: relative;
  display: flex;
  flex-direction: column;

  .table-header {
    flex-shrink: 0;
    
    .table-header-row {
      .table-header-col {
        position: relative;
        display: inline-block;

        .table-col-resizer {
          position: absolute;
          cursor: e-resize;
          width: 5px;
          height: 100%;
          right: 0;
          top: 0;
          margin-right: -3px;
          z-index: 1;
        }
      }
    }
  }

  .table-body {
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;

    .table-body-row {

      &.selected {
        background-color: DeepSkyBlue;
      }

      .table-body-col {
        display: inline-block;
      }
    }
  }
}
