.table {
  position: relative;
  display: flex;
  flex-direction: column;

  .table-col {
    &:not(:last-child) {
      width: 100px;
    }

    &:last-child {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  .table-header {
    flex-shrink: 0;
    
    .table-resize-line {
      position: absolute;
      height: 100%;
      border-left: 1px dotted black;
      left:50px;
      z-index: 1;
    }

    .table-header-row {
      display: flex;

      .table-col {
        position: relative;

        .table-col-resizer {
          position: absolute;
          cursor: e-resize;
          width: 5px;
          height: 100%;
          right: 0;
          top: 0;
          margin-right: -3px;
          z-index: 1;
        }
      }
    }
  }

  .table-body {
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;

    .table-body-row {
      display: flex;

      &.selected {
        background-color: DeepSkyBlue;
      }
    }
  }
}
