.table {
  position: relative;
  display: flex;
  flex-direction: column;

  .table-header {
    .table-header-row {
      .table-header-col {
        position: relative;
        display: inline-block;

        .table-col-resizer {
          position: absolute;
          cursor: col-resize;
          width: 5px;
          height: 100%;
          right: 0;
          top: 0;
          margin-right: -3px;
          z-index: 1;
        }
      }
    }
  }

  .table-body {
    .table-body-row {
      .table-body-col {
        display: inline-block;
      }
    }
  }
}
