.tooltip-box {
  position: fixed;
  border: 1px solid #767676;
  padding: 0 20px;
  min-height: 21px;
  max-width: 300px;
  font-size: 12px;
  line-height: 21px;
  color: #2f2f2f;
  z-index: 1;
  background: linear-gradient(180deg, #FEFEFE 0%, #E5E4F2 50%); 
  white-space: normal;
  word-break: break-all;
}
