.tooltip-box {
  position: fixed;
  border: 1px solid #767676;
  padding: 0 (20rem/16);
  min-height: (21rem/16);
  max-width: (300rem/16);
  font-size: (12rem/16);
  line-height: (21rem/16);
  color: #2f2f2f;
  z-index: 1;
  background: linear-gradient(180deg, #FEFEFE 0%, #E5E4F2 50%); 
  white-space: normal;
  word-break: break-all;
}
